.login {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #418550;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: center;
}

.loginTitle {
  margin-bottom: 30px;
  margin-top: 120px;
}

.registerTitle {
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  margin-bottom: 20px;
  background-color: #bea453;
  border-radius: 10px;
}

.button {
  padding: 10px 40px;
  margin: 4px;
  color: #fff;
  background-color: #bea453;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.activeButton {
  background-color: #ffdc71;
  color: #000;
  transform: scale(1);
}

.input {
  width: 80%;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 15px;
}

.registerForm .input {
  width: 50%;
}

.registerForm,
.loginForm,
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.registerForm::-webkit-scrollbar {
  width: 1px;
}

.registerForm::-webkit-scrollbar-thumb {
  background: #bea453;
  border-radius: 1px;
}

.registerForm::-webkit-scrollbar-thumb:hover {
  background: #ffdc71;
}

.loginButton {
  width: 80%;
  padding: 15px;
  margin-top: 80px;
  border-radius: 5px;
  background-color: #ffdc71;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.registerButton,
.resetButton {
  width: 60%;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffdc71;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.forgotPassword {
  margin-top: 120px;
  color: #ffdc71;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

.goBackButton {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.goBackButton:hover {
  transform: scale(1.1);
}

.backIcon {
  width: 35px;
  height: 35px;
  filter: invert(1);
}

@media (max-width: 1440px) {
  .registerForm {
    height: auto;
  }
  .loginTitle {
    margin-top: 210px;
    margin-bottom: 10px;
  }
  .input {
    width: 100%;
    margin-bottom: 5px;
  }
  .forgotPassword {
    margin-top: 180px;
  }
  .title {
    margin-bottom: 20px;
  }
}
